.profile {
  display: flex;
  justify-content: center;
}

.profile__container {
  display: flex;
  flex-direction: column;
  min-width: 410px;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin: 74px auto 123px;
  text-align: center;
}

.profile__subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #a0a0a0;
}

.profile__exit {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  align-self: center;
  color: #ee3465;
  border: none;
  background-color: #202020;
  cursor: pointer;
  width: max-content;
}

.profile__exit:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin-top: 236px;
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 480px) {
  .profile__container {
    display: flex;
    flex-direction: column;
    min-width: 260px;
    margin-bottom: 30px;
  }

  .profile__title {
    margin-top: 70px;
    margin-bottom: 80px;
  }
}
