.header {
  background-color: #202020;
  width: 100%;
}

.header_place_main {
  background-color: #073042;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 18px 70px;
}

.header__logo {
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
  }
}
