.register {
  display: flex;
  justify-content: center;
}

.register__logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.register__container {
  margin: 70px auto;
  min-width: 396px;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin: 40px 0;
}

.register__subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #a0a0a0;
}

.register__link {
  color: #4285f4;
  text-decoration: none;
}

.register__link:hover {
  opacity: 0.7;
  transition: 0.4s;
}

@media screen and (max-width: 480px) {
  .register {
    display: block;
  }

  .register__container {
    margin: 56px 30px;
    min-width: auto;
  }

  .register__logo {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .register__title {
    margin: 50px 0 80px;
    text-align: center;
  }

  .register__subtitle {
    font-size: 12px;
  }
}
