.login {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login__logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.login__container {
  margin: 70px auto;
  min-width: 396px;
}

.login__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin: 40px 0;
}

.login__subtitle {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #a0a0a0;
}

.login__link {
  color: #4285f4;
  text-decoration: none;
}

.login__link:hover {
  opacity: 0.7;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .login__container {
    margin-top: 232px;
  }
}

@media screen and (max-width: 480px) {
  .login {
    display: block;
  }

  .login__container {
    margin: 56px 30px;
    min-width: auto;
  }

  .login__logo {
    display: block;
    align-items: center;
    margin: 0 auto;
  }

  .login__title {
    margin: 50px 0 80px;
    text-align: center;
  }

  .login__subtitle {
    font-size: 12px;
  }
}
