.search__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 29px;
  padding: 70px 70px 118px;
  max-width: 1280px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #424242;
}

.search__input {
  align-items: center;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 13px;
  width: 100%;
  background-color: #202020;
}

.search__btn {
  width: 59px;
  height: 34px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  border: none;
  border-radius: 48px;
  background-color: #4285f4;
  margin: 0;
}

.search__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1020px) {
  .search__container {
    padding: 70px 30px 118px;
  }

  .search__form {
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .search__container {
    padding-top: 80px;
    padding-bottom: 131px;
    align-items: flex-end;
  }
}

@media screen and (max-width: 480px) {
  .search__container {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 90px;
    align-items: center;
    gap: 40px;
  }

  .search__input {
    font-size: 18px;
    min-height: 42px;
    padding-bottom: 0;
  }
}
