.navigation-landing {
  margin-left: auto;
}

.navigation-landing__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 30px;
  list-style: none;
}

.navigation-landing__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.navigation-landing__link:hover {
  opacity: 0.8;
}

.active {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  background-color: #3ddc84;
  padding: 8px 20px;
  border-radius: 3px;
}

.blue {
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.navigation__movies-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
}

.navigation__movies-list_wrapp {
  display: flex;
  gap: 16px;
  margin-left: 44px;
}

.navigation__movies-list_item {
  display: block;
  justify-content: center;
  align-items: center;
}

.navigation__movies-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navigation__movies-list_link:hover {
  opacity: 0.7;
  transition: 0.4s;
}

.navigation__movies-list_link:target {
  font-weight: 500;
}

.navigation__movies-list_item_hiden {
  display: none;
}

.account {
  font-size: 13px;
  font-weight: 500;
}

.navigation__movies-list_icon {
  width: 26px;
  height: 26px;
  margin-left: 7px;
  position: center;
  background-color: #313131;
  background-image: url(../../images/icon_account.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.burger__span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 7px;
  transition: all 0.2s ease-in-out;
}

.burger__span:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .navigation__burger {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    z-index: 2;
  }

  .burger {
    display: flex;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 3;
    width: 44px;
    height: 44px;
  }

  .navigation__movies-list_burger {
    content: "";
    background-color: #202020;
    position: fixed;
    right: 0;
    top: 0;
    left: 30%;
    bottom: 0;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    display: none;
    margin-left: auto;
    max-width: 520px;
  }

  .close {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 22px;
    height: 22px;
  }

  .burger.close span:first-child {
    transform: translateY(10px) rotate(-135deg);
  }

  .burger.close span:nth-child(2) {
    transform: translateY(0) rotate(225deg);
  }

  .burger.close span:last-child {
    transform: translateY(-10px) rotate(135deg);
  }

  .navigation {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-right: 0;
  }

  .open {
    display: flex;
    z-index: 2;
  }

  .navigation__movies-list_item:nth-child(1) {
    margin-top: 159px;
  }

  .navigation__movies-list_item_hiden {
    display: block;
  }

  .navigation__movies-list_wrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    left: auto;
    translate: 0;
    margin: 0;
  }

  .account {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 90px;
    line-height: 12px;
  }
}

@media screen and (max-width: 480px) {
  .navigation-landing__list {
    gap: 14px;
  }

  .navigation-landing__link {
    font-size: 10px;
  }

  .active {
    padding: 7px 12px;
    font-size: 10px;
  }

  .burger {
    top: 15px;
    right: 14px;
    width: 40px;
    height: 43px;
  }

  .burger__span {
    width: 22px;
    height: 2px;
    margin-bottom: 6px;
  }

  .close {
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
  }

  .burger.close span:first-child {
    transform: translateY(8px) rotate(-45deg);
  }

  .burger.close span:nth-child(2) {
    transform: translateY(0) rotate(225deg);
  }

  .burger.close span:last-child {
    transform: translateY(-8px) rotate(45deg);
  }

  .navigation__movies-list_item:nth-child(1) {
    margin-top: 144px;
  }
}
